{% extends "core/base.html" %}
{% block title %}Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel">
                <div class="panel-body">
                    <h3>Not found</h3>
                    <p>Sorry, but the page you were trying to view does not exist.</p>
                    <p>Please contact the webmaster at <a href="mailto:info@in2systems.nl">info[at]in2systems.nl</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
