{% extends "core/base.html" %}
{% block title %}Error 500{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel">
                <div class="panel-body">
                    <h3>Oops</h3>
                    <p>We are very sorry, an error occurred [code: 500]</p>
                    <p>Please contact the webmaster at <a href="mailto:info@in2systems.nl">info[at]in2systems.nl</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_content %}
